@import url('https://fonts.googleapis.com/css?family=Expletus+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap');
body {
  margin: 0px;
  font-family: 'Expletus Sans', cursive;
}

.portfolio {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.linkedin {
  position: absolute;
  left: 35px;
  bottom: 272px;
  font-size: 26px;
  color: white;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.github {
  position: absolute;
  left: 71px;
  bottom: 272px;
  font-size: 26px;
  color: white;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.gitlab {
  position: absolute;
  left: 108px;
  bottom: 272px;
  font-size: 26px;
  color: white;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.linkedin:hover, .github:hover, .gitlab:hover {
  opacity: 1;
}

.image {
  min-width: 60px;
  /* margin: 10px; */
  cursor: pointer;
  transition: .5s cubic-bezier(0.05, 0.61, 0.41,0.95);
  overflow: hidden;
  position: relative;

}
.image.active {
  flex-grow: 100;
  max-width: 70vw;
  margin: 0px;
  background-size: auto 100%;
}

.image:not(.active){
  flex-grow: 1;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  /* border-radius: 5px; */
}

.image:not(.active) > .text-container .logo, h1 {
display: none !important;
}

.image.active > .text-container h1 {
display: block !important;
}

.text-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  visibility: hidden;
  transform: translateY(300px);
  opacity: 0;
  transition: all .4s ease;
  background: linear-gradient(354deg, black 0%, transparent 72%);
  color: white;
  overflow: hidden;
}

.text {
    position: absolute;
    bottom: 4rem;
    width: 290px;
}

.active .text-container {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
  width: inherit;
}



.logo {
  text-align: center;
}

.logo-enter {
  position: absolute;
  left: 35px;
  bottom: 290px;
  font-size: 26px;
  color: white;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}



.logo-wesurf {
  text-decoration: none !important ;
  color:white;
  font-size: 150px;
  font-family: "Space Grotesk";
}

.link-ws {
  text-decoration: none !important ;
}

h3 {
  font-size: 24px;
}


.description {
  font-style: italic;
  font-size: 15px;
  opacity: 0.7;
  text-align: justify;

}

.logo-navbar {
  font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 190px;
    position: absolute;
    top: -179px;
    left: 86px;
}

img.logo-pyc {
  width: 620px;
  margin: auto;
  transform: rotate(360deg);
  animation-name: spin;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
